/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.12.2021, 12:07:50
    Author     : marvi
*/
.bodybg{
    -fx-background-color: white;
    -fx-background-image: url("../Images/bg.png");
    -fx-background-size: 100% 100%;
}
.button {
    -fx-background-radius: 36;
    -fx-background-color: linear-gradient(to bottom right, #cccccc, #999999)
}

.button:hover{
    -fx-background-color: linear-gradient(to bottom right, white, #999999)
}


.bgAnleitung{
    -fx-background-image: url("../Images/pu.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch; 
    -fx-background-size: 50%;
}

.buttonS{
    -fx-background-image: url("../Images/si.png");   
}

.bgSpiel{
    -fx-background-image: url("../Images/placeHolderBG.png");   
}

.bgCredits{
    -fx-background-image: url("../Images/creditsInsel.png");   
}


