/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.12.2021, 12:07:50
    Author     : Marvin Hofmann, Emely Mayer-Walcher, Torben Doese, Lea-Marie Kindermann
*/
.bodybg{
    -fx-background-color: white;
    -fx-background-image: url("../Images/bg.png");
    -fx-background-size: 100% 100%;
}
.button {
    -fx-background-radius: 36;
    -fx-background-color: linear-gradient(to bottom right, #cccccc, #999999)
}

.button:hover{
    -fx-background-color: linear-gradient(to bottom right, white, #999999)
}


.bgAnleitung{
    -fx-background-image: url("../Images/pu.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch; 
    -fx-background-size: 50%;
}

.buttonS{
    -fx-background-image: url("../Images/si.png");   
}

.bgSpiel{
    -fx-background-image: url("../Images/placeHolderBG.png");   
}

.bgCredits{
    -fx-background-image: url("../Images/creditsInsel.png");   
}

.einstellung{
    /*-fx-background-color: linear-gradient(to bottom right, #cccccc, #999999);*/
    -fx-background-color: rgba(79, 89, 107, 0.8);
    -fx-background-radius: 10;
}

.creditBtn{
    -fx-background-color: linear-gradient(to bottom right, #cccccc, white);
}

.buttonInfo{
    -fx-background-image: url("../Images/information.png");
    -fx-background-size: 100% 100%;
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark,.slider .axis .axis-minor-tick-label {
    -fx-fill: null;
    -fx-stroke: white;
}
.slider .axis { -fx-tick-label-fill: white; }

.modi{
    -fx-background-color: white;
    -fx-background-image: url("../Images/ModiBG.png");
    -fx-background-size: 100% 100%;
}

.combo-box {
    -fx-border-color: #ACACAC;
    -fx-border-width: 0.5px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-font-size: 15px;
    -fx-padding: 0px;
    -fx-font-weight: 600;
    -fx-background-color: rgba(79, 89, 107, 0.9);
    -fx-prompt-text-fill: rgba(255, 0, 0, 1) ;
}

.combo-box:hover{
    -fx-text-fill: gray;
}

.combo-box .list-view{
    -fx-border-color: #ACACAC;
    -fx-border-width: 0.5px;
    -fx-border-radius: 10px 10px 0px 0px;
    -fx-background-radius: 10px 10px 0px 0px;
    -fx-font-size: 15px;
    -fx-padding: 0px;
    -fx-font-weight: 600;
    -fx-background-color: rgba(79, 89, 107, 0.9);
}

.check-box > .box {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: #0000008a;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-padding: 0.083333em; /* 1px */
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-text-inner-color: lightgray;
}

.text-field {
  -fx-border-color: grey;
  -fx-border-width: 2 2 2 2; 
  -fx-background-color: rgba(79, 89, 107, 0.9);
  -fx-text-inner-color: lightgray;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
    -fx-text-inner-color: black;
}

.combo-box > .list-view > .list-cell{
    -fx-text-fill: white;
    -fx-background-color: rgba(79, 89, 107, 0.9);
}

.jfx-combo-box .label {
    -fx-text-inner-color: white;
}

.check-box .mark {
    -fx-shape:
"M2,0L5,4L8,0L10,0L10,2L6,5L10,8L10,10L8,10L5,6L2,10L0,10L0,8L4,5L0,2L0,0Z";
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: rgba(79, 89, 107, 0.9);
}

.combo-box-base .text{
    -fx-fill: lightgray;
}