/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.12.2021, 12:07:50
    Author     : Marvin Hofmann, Emely Mayer-Walcher, Torben Doese, Lea-Marie Kindermann
*/
.bodybg{
    -fx-background-color: white;
    -fx-background-image: url("../Images/bg.png");
    -fx-background-size: 100% 100%;
}
.button {
    -fx-background-radius: 36;
    -fx-background-color: linear-gradient(to bottom right, #cccccc, #999999);
    -fx-shadow-highlight-color: transparent;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    
}

button:focus { outline: none; }

.button:hover{
    -fx-background-color: linear-gradient(to bottom right, #cccccc, #999999);
}


.bgAnleitung{
   
}

.buttonS{
    -fx-background-image: url("../Images/si.png");   
    -fx-background-size: 101% 102%;
    
}

.bgSpiel{
    -fx-background-image: url("../Images/placeHolderBG.png");   
}

.bgCredits{
    -fx-background-image: url("../Images/creditsInsel.png");   
}

.einstellung{
    -fx-background-color: rgba(79, 89, 107, 0.8);
    -fx-background-radius: 10;
}

.creditBtn{
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-border-width: 2 2 2 2; 
    -fx-background-color: linear-gradient(to bottom right, #cccccc, white);
}

.buttonInfo{
    -fx-background-color : transparent;
    -fx-background-image: url("../Images/information.png");
    -fx-background-size: 101% 102%;
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark,.slider .axis .axis-minor-tick-label {
    -fx-fill: null;
    -fx-stroke: white;
}
.slider .axis { -fx-tick-label-fill: white; }

.modi{
    -fx-background-color: white;
    -fx-background-image: url("../Images/ModiBG.png");
    -fx-background-size: 100% 100%;
}

.check-box > .box {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: #0000008a;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-padding: 0.083333em; /* 1px */
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-text-inner-color: lightgray;
}

.text-field {
  -fx-border-color: grey;
  -fx-border-width: 2 2 2 2; 
  -fx-background-color: rgba(79, 89, 107, 0.9);
  -fx-text-inner-color: lightgray;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
    -fx-text-inner-color: black;
}

.check-box .mark {
    -fx-shape:
"M2,0L5,4L8,0L10,0L10,2L6,5L10,8L10,10L8,10L5,6L2,10L0,10L0,8L4,5L0,2L0,0Z";
}

.btnAuswahl{
    -fx-background-color: rgba(79, 89, 107, 1);
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-border-width: 2 0 2 2; 
    -fx-border-color: grey;
    -fx-background-insets: 0;
}

.btnAuswahlRight{
    -fx-background-color: rgba(79, 89, 107, 1);
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-border-width: 2 2 2 0; 
    -fx-border-color: grey;
    -fx-background-insets: 0;
}

.auswahl{
    -fx-border-width: 2 0 2 0; 
}

.btnModi{
    -fx-background-color: rgba(79, 89, 107, 1);
    -fx-background-radius: 10px;
    /*-fx-border-width: 2 2 2 2; 
    -fx-border-color: grey;*/
    -fx-background-insets: 0;
}

.combo-box .list-cell {
    -fx-text-fill: white;
}
.combo-box-popup .list-view{
    -fx-background-color: rgba(79, 89, 107, 1);
}

.combo-box-popup .list-view .list-cell{
    -fx-text-fill: white;
    -fx-padding: 4 0 4 5;
    -fx-background-color: rgba(79, 89, 107, 1);
    -fx-border-width: 1 1 1 1; 
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
    -fx-background-color: #0000008a;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: grey;
    -fx-text-fill: white;
}

.combo-box-base{
    -fx-background-color: rgba(79, 89, 107, 1);
    -fx-padding: 0;
}

.bgUpGame{
    -fx-background-color: rgba(79, 89, 107,1);
    -fx-background-radius: 10;
}

.schiffAnzeige5{
    -fx-background-image: url("../Images/boot5FullHc.png");  
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat
}
.schiffAnzeige4{
    -fx-background-image: url("../Images/boot4FullHc.png");   
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat
}
.schiffAnzeige3{
    -fx-background-image: url("../Images/boot3FullHc.png");   
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat
}

.schiffAnzeige2{
    -fx-background-image: url("../Images/boot2FullHc.png");   
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat
}

.text-area {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.triangle {
    -fx-background-image: url("../Images/right-arrow.png"); 
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat
}
.triangle:hover{
    -fx-background-color: transparent;
}

.bgAnleitung{
    -fx-background-color: gainsboro;
}
